.image-bg {
/*   animation: 60s ease 0s normal none infinite back_animation;*/
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    height: 100%;
	width: 100%;	
	top: 0;
	left: 0;
	position: absolute;	
	z-index: -999999;
}

.container-principal {
	background: transparent;
	color: #222;
	width: 100%;        
	height: 100%; 
	display: flex;
	align-items: center;
	flex-direction: row;
}


.image-overlay {
    animation: 20s ease 0s normal none infinite back_animation;
	z-index: 2;
	height: 100%;
	width: 100%;
}

@-webkit-keyframes back_animation {
	0% {
	-webkit-transform: scale(1);
	}

	50% {
	-webkit-transform: scale(1.2);
	}

	100% {
	-webkit-transform: scale(1) ;
	}
}
@-moz-keyframes back_animation {
	0% {
	-moz-transform: scale(1);
	}

	50% {
	-moz-transform: scale(1.2);
	}

	100% {
	-moz-transform: scale(1) ;
	}
}
@-o-keyframes back_animation {
	0% {
	-o-transform: scale(1);
	}

	50% {
	-o-transform: scale(1.2);
	}

	100% {
	-o-transform: scale(1) ;
	}
}
@keyframes back_animation {
	0% {
	transform: scale(1);
	}

	50% {
	transform: scale(1.2);
	}

	100% {
	transform: scale(1) ;
	}
}


