.container-publication {
    background: white;
    width: 80%;
    align-items: center;  
    padding: 15px;    
    margin: 0 auto;
}

.name-pub {
    font-size: 1.999em;
    color: #663300;
    font-weight: light;
    margin: 0.66em 0 0.15em 0;
    line-height: 1;    
}

.name-pub > a {
    text-decoration: none;
    color: #663300;
}
  
.title-pub {
    font-size: 1.414em;
    color: #663300;
    margin: 0 0 0.33em 0;
    font-weight: lighter;
}
  
.card-pub {
    width: 300px;
    max-width: 100%;
    padding: 0px;
    background-color: white;
    border-radius: 0px;
    margin: 10px 10px 4em;    
}

.card-pub > a {
    overflow: hidden;
    text-decoration: none;
}

.card-pub > img {
    opacity: 0.5,
}
  
.cards-pub {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    max-width: 1300px;
}

.picture-pub {    
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
    display: block;
    border-radius: 4px;
    filter: grayscale(100%);
    z-index: 20;
    cursor: pointer;
}

.picture-pub:hover {
    filter: grayscale(0%);  
    cursor: pointer;  
}

@media(min-width: 720px) {
    .card-pub {
        margin: 10px 10px 1em;
    }
}

@media(max-width: 720px) {
    .container-publication {
        align-self: auto;
        width: 100%;
    }
}
