.container-publication {
    background: white;
    width: 100vw;
    align-items: center;      
}

.name {
    font-size: 1.999em;
    color: #222;
    font-weight: light;
    margin: 0.66em 0 0.15em 0;
    line-height: 1;    
}

.name > a {
    text-decoration: none;
    color: #222;
}
  
  
.title-pub {
    font-size: 1.414em;
    color: #555555;
    margin: 0 0 0.33em 0;
    font-weight: lighter;
}
  
.card {
    width: 300px;
    max-width: 100%;
    padding: 0px;
    background-color: white;
    border-radius: 0px;
    margin: 10px 10px 4em;    
}

.card > a {
    overflow: hidden;
    text-decoration: none;
}

.card > img {
    opacity: 0.5,
}
  
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    max-width: 1300px;
}


@media(max-width: 720px) {
    .container-publication {
        align-self: auto;
    }
}

@media(min-width: 720px) {
    .card {
        margin: 10px 10px 1em;
    }
}

.picture-pub {    
    background-size: cover;
    background-position: center;
    height: 300px;
    display: block;
    border-radius: 4px;
    filter: grayscale(100%);
}

.picture-pub:hover {
    filter: grayscale(0%);    
}

.picture-pub > img {
    opacity: 1;
}