.container-event {
	background: transparent;
	color: #222;
	width: 100vw;   
	display: flex;
    justify-content: center;
    min-height: 700px;
}

.event {   
    width: 100vw;
    text-align: center;
    position: relative;
    padding: 15px;
}


#carousel-event {
    position: relative;
    height: 400px;
    top: 200px;
    transform: translateY(-50%);
    overflow: hidden;
}


#carousel-event div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}

#carousel-event div img {
    width: 400px;
    transition: width 1s;
}

#carousel-event div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

#carousel-event div.hideLeft img {
    width: 200px;
}

#carousel-event div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

#carousel-event div.hideRight img {
    width: 200px;
}

#carousel-event div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
}

#carousel-event div.prev img {
    width: 300px;
}

#carousel-event div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}

#carousel-event div.prevLeftSecond img {
    width: 200px;
}

#carousel-event div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
}

#carousel-event div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
}

#carousel-event div.next img {
    width: 300px;
}

#carousel-event div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}

#carousel-event div.nextRightSecond img {
    width: 200px;
}


.im-buttons-event {
    position: relative;
    top: 50px;
    left: 50%;    
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%);
    width: 50vw;    
    display: block;
}

.im-left {    
    height: 5%;
    width: 5%;
    padding-right: 10px;
    fill: red
}

.im-right {    
    height: 5%;
    width: 5%;
    padding-left: 10px;
}

.im-left, .im-right, .im-badge {
    cursor: pointer
}



@media screen and (min-width: 600px) {
    .container-event {
        min-width: 600px;
    }    
}  

@media screen and (max-width: 600px) {
    .im-left {    
        height: 30%;
        width: 30%;
        padding-right: 10px;
        fill: red
    }
    
    .im-right {    
        height: 30%;
        width: 30%;
        padding-left: 10px;
    }
}