.footer {
    background-color: #333333;          
    display: block;
    text-align: center;
    margin: 0 auto;    
    width: 100%;
    height: 180px;
    z-index: 10;       
    color: white;
}

.footer a {    
    text-decoration: none;
    font-size-adjust: 1;
    font-family: 'OpenSans';  
    font-size: 12px;      
    font-weight: bold;      
    color: white;
}

.footer > img {
    height: 15px;
    width: 15px;
    padding: 0px 5px 2px 0px;
    vertical-align: text-bottom;
}
