.div-bg-partner {
  height: 90%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -999999;
  position: relative;
}
.container-partner {
	background: transparent;
	text-align: center;
	color: #222;
	width: 100vw;        
	display: flex;
	justify-content: center;
  margin: 0 auto;   
  height: 100vh;  
  z-index: -999999; 
}

@media screen and (max-width: 600px) {
  .container-partner {
    height: 70vh;
  }
}