.image {   
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;
}

.im-content {
    max-width: 1200px;
    display: block;
    margin: auto;    
}

.im-buttons {
    position: absolute;    
    left:50%;    
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%);
    width: 50vw;    
    display: block;
}

.im-left, .im-right, .im-badge {
    cursor: pointer
}

.im-badge { 
    background-color: transparent;
    display: inline-block;
    border: 2px;
    border-style: solid;
    border-radius: 50%;
    border-color: #000;
    height:10px;
    width:10px;
    padding:5px;
    margin-left: auto;
    cursor: pointer;
}

.im-badge:hover {  
    background-color: #000;
}

.im-current {
    width: 75vw;
    height: 70vh;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    border-style: solid; 
}

.im-left{
    float: left;
    height: 5%;
    width: 5%;
}

.im-right {
    float: right;
    height: 5%;
    width: 5%;
}