.flex-container {
    background-color: #663300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;    
    width: 100%;
    height: 50px;
    z-index: 5;    
    position: fixed;      
  }
  
.navbar {
    overflow: hidden;
    background-color: #663300;
    position: center;
    top: 0;
    width: 800px;
    z-index: 6;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;    
  }
  
.navbar a {
    float: left;
    display: block;
    cursor: pointer; 
    margin: 0 auto;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;    
    font-size: 17px;    
    z-index: 7;  
    font-weight: bold;
}
  
.navbar a:hover {    
    color: #ffcc00;
} 

.menu-sidebar {
    visibility: hidden;
    display: none;
}

.button-menu {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    visibility: hidden;
    background-color: #663300;
    color: #ffcc00;
    cursor: pointer;
    font-size: 25px;
}

@media screen and (max-width: 900px) {
    .navbar {
        visibility: hidden;        
    }    
    .button-menu {
        visibility: visible;
        display: block;
    }   
}
    