@font-face{
    font-family: 'RobotoMono';
    src: url('./fonts/RobotoMono-Light.ttf');
}

@font-face{
    font-family: 'OpenSans';
    src: url('./fonts/OpenSans-Light.ttf');
}

*{
    font-family: 'OpenSans', monospace;
}