.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 25;
}
  
.modal-main {
    position:fixed;
    background: white;
    width: 50%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    max-width: 500px;
    text-align: center;
    padding: 30px;
}
  
.display-block {
    display: block;
}
  
.display-none {
    display: none;
}

.md-close {
    display: block;
    margin: 0 auto;
    font-size: 1em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.md-close > img {
  width: 30px;
  height: 30px;
}

.avatar {
  text-align: center;
}

.avatar > img {
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.modal-title {
    border-bottom: 1px solid rgba(33, 39, 57, 0.15);
    margin-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.8em;
    text-align: center;
    color: #ffcc00;
}

.modal-text {
    margin-top: 20px;
    text-align: left;
    padding: 0px 0px 30px;
    font-size: 0.9em;
    color: #333333;    
}