.container-lecture {
    background: #333333;
    width: 70%;    
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;   
    z-index: 20;  
    padding: 15px 5px 10px 5px;      
    margin: 0 auto;    
}

.name-lecture {
    font-size: 1.999em;
    color: #ffcc00;
    font-weight: light;
    margin: 0.66em 0 0.15em 0;
    line-height: 1;    
}

.name-lecture > a {
    text-decoration: none;
    color: #ffcc00;
}  
  
.title-lecture {
    font-size: 1em;
    color: #A4A4A4;
    margin: 0 0 0.33em 0;
    font-weight: lighter;
    font-style: italic;
}

.sinopsys-lecture {
    font-size: 1em;
    color: white;
    margin: 0 0 0.33em 0;
    font-weight: lighter;
    text-align: justify;
}
  
.card-lecture {
    width: 400px;
    max-width: 100%;
    padding: 0px;
    background-color: #333333;
    border-radius: 0px;
    margin: 10px 10px 4em;    
}

.card-lecture > a {
    overflow: hidden;
    text-decoration: none;
}

.card-lecture > img {
    opacity: 0.5,
}
  
.cards-lecture {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 95%;
    margin: 0 auto;
    max-width: 1300px;
}

@media(min-width: 720px) {
    .card-lecture {
        margin: 10px 10px 1em;
    }
}

@media(max-width: 720px) {
    .container-lecture {
        align-self: auto;
    }
}
