.contact-me {
  display: flex;
  flex-direction: column;
  background: white;
  width: 100%;  
  z-index: 20;    
  padding: 15px;  
  margin: 0 auto; 
  align-items: center;              
}

.container-contact-me {  
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
}

.contact-me-email {
  background-color: #000000;
  width: 500px;
  height: 400px;
  padding-left: 100px;
  margin-left: 10px;
}

.contact-email-header {
  color: #ffffff;
  font-weight: 800;
  letter-spacing: 0.1em;
  padding-top: 30px;
}

.contact-me-email a {    
  text-decoration: none;
  font-size-adjust: 1;
  font-family: 'OpenSans';  
  font-size: 12px;           
  color: white;
}

.contact-me-img {
  height: 15px;
  width: 15px;
  padding: 0px 5px 2px 0px;
  vertical-align: text-bottom;
}


.input {
  border: none; 
}

textarea:focus, input:focus {
  outline: none;
}

.input-normal {  
  border-bottom: 1px solid #b2b2b2;
}

.input-error { 
  border-bottom: 1px solid red;
}

.button-contact-me {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #333333;
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.button-contact-me:hover {
  background-color: #474747
}

.button-contact-me:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.title-contact-me {
  width: 100%;
}

.container-contact-me > textarea {
  margin-top: 5px; 
  
}

.text-area-contact-me {
  white-space: pre-line;
  width: 330px;
}


.display-none-contact-me {
  display: none;
}

@media screen and (max-width: 1000px) {
  .container-contact-me {
    max-width: calc(100vw * 0.8);
  }
 
  .container-contact-me > input {
    max-width: calc(100vw * 0.8);
  }
  
  .container-contact-me > textarea {
    max-width: calc(100vw * 0.8);
  }
}